div.customSearchHit div.tools {
    float: right;
    margin: 0 0 4px 4px;
}

div.customSearchHit img.thumbnail {
    float: left;
    margin: 0 4px 4px 0;
}

div.customSearchHit img.iconMedium {
    float: left;
    height: 48px;
    margin: 0 4px 4px 0;
}

div.customSearchHit h2 {
    font-size: 12px;
    margin: 0 0 2px 0;
}

div.customSearchHit h3 {
    font-size: 11px;
    margin: 0;
}

div.customSearchHit p {
    font-size: 11px;
    margin: 0 0 2px 0;
}

div.customEntry {
    padding: 4px 0px 0px 4px;
}

div.customEntry div.tools {
    float: right;
}

div.customEntry h2 {
    line-height: 1em;
    font-size: 12px;
    margin-bottom: 2px;
}

div.customEntry h2 img.icon {
    margin-right: 4px;
}

div.customEntry h3 {
    color: grey;
    margin: 0;
    font-size: 11px;
}

div.customEntry p {
    font-size: 11px;
    line-height: 1.4em;
}
div.customEntry p.meta {
    color: #4C4C4E;
}

div.customEntry img.thumbnail {
    float: left;
    margin: 0 8px 4px 0;
}

div.customEntry img.iconMedium {
    float: left;
    height: 48px;
    margin: 0 8px 4px 0;
}

div.customEntry fieldset.group {
    border: 0;
}

div.fields h2 {
    font-size: 11px;
}

div.imageEntryContainer {
    position: relative;
    margin-right: 32px;
}

div.imageEntryContainer div.contextTools {
    float: right;
    margin: 0;
    padding: 2px;
}

div.oddedit, div.evenedit {
    border-right: 1px solid #939698;
    border-bottom: 1px solid #939698;
}

div.listEntryContentInfo a {
    margin-left: 4px;
}

div.customContainer div.listEntryHeader {
}

div.customContainer div.tools {
    float:right;
    margin-bottom: 4px;
}
div.customContainer div.listEntryContentInfo {
    float:left;
    margin-bottom: 4px;
}

div.customContainer div.listEntryBody {
}

div.customContainer div.listEntryFooter {
}

div.pending a, div.pending h1 {
    color: #FF3333;
}

div.offline a, div.offline h1 {
    color: #616161;
}

div.byline span.bylineLabel {
    font-weight: bold;
}

div.byline span.bylineText {

}

div.tags span.tagsLabel {
    font-weight: bold;
} 

div.tags span.tagsText {

}

/* COLUMN SPLITTER ELEMENT ENTRY RENDER */

/* CONTAINER */
.columnSplitterContainer {
    clear: both;
    overflow: hidden;
    _height: 1%;
}

/* Two columns */
.columnSplitterContainer.half DIV.col1,
.columnSplitterContainer.half DIV.col2 {
    width: 49.9%;
    float: left;
    overflow: hidden;
}
.columnSplitterContainer.leftHeavy DIV.col1 {
    float: left;
    width: 62.4%;
    overflow: hidden;
}
.columnSplitterContainer.leftHeavy DIV.col2 {
    float: left;
    width: 37.4%;
    overflow: hidden;
}
.columnSplitterContainer.rightHeavy DIV.col1 {
    float: left;
    width: 37.4%;
    overflow: hidden;
}
.columnSplitterContainer.rightHeavy DIV.col2 {
    float: left;
    width: 62.4%;
    overflow: hidden;
}
.columnSplitterContainer img.icon {
    margin-right: 4px;
}
/* TABVIEW ELEMENT ENTRY RENDER */
DIV.tabviewElementClear {
    height: 2px;
    overflow: hidden;
}
DIV.tabviewElement UL {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
DIV.tabviewElement LI {
    position: relative;
    top: 1px;
    float: left;
    margin: 1px 4px 0px 0px;
    border: 1px solid #B8B8B8;
    border-bottom-width: 0;
    white-space: nowrap;
}
DIV.tabviewElement LI SPAN {
    padding: 3px 4px;
    display: block;
    font-size: 11px;
    border-bottom: 1px solid #B8B8B8;
}
DIV.odd DIV.tabviewElement LI.selected SPAN {
    border-bottom: 1px solid #E1E1E1;
}
DIV.even DIV.tabviewElement LI.selected SPAN {
    border-bottom: 1px solid #F2F2F2;
}
DIV.tabviewElement A {
    text-decoration: none;
}
DIV.tabviewElement IMG.icon {
    margin-right: 2px;
}
DIV.tabviewElement DIV.hr {
    clear: both;
    border-top: 1px solid #B8B8B8;
}
DIV.tabviewElementBody {
    border: 1px solid #B8B8B8;
    border-top-width: 0;
    padding: 8px;
    color: #4C4C4E;
    margin-bottom: 4px;
}

DIV.cm-inbox DIV.tools {
    max-width: 100px; /* IE7 fix */
}

/* BLOG POSTING BROWSER */
DIV.blogPostingBrowser .timeLabel {
    color: #5D5D5D;
    font-weight: bold;
}
DIV.blogPostingBrowser .timeLabel .count {
    font-weight: normal;
}
DIV.blogPostingBrowser .year {
}
DIV.blogPostingBrowser .month {
    padding-left: 8px;
}
DIV.blogPostingBrowser .postingLink {
    padding-left: 16px;
}

.customSearchImage {
}

.customSearchImageDiv {
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #666;
}

.customSearchImageDiv span {
    color: #999;
}

.customSearchImageDiv img {
    margin-bottom: 4px;
    margin-top: 4px;
    border: 1px solid #EEE;
}

.customSearchImageByline {
    text-align: left;
    padding-left: 3px;
    font-size: 10px;
}
/* Image gallery thumb search result  */
div.imageGalleryThumb {
    margin: 1px; 
    border-style: solid; 
    border-width: 1px; 
    float: left; 
    width: 45px; 
    height: 38px; 
    overflow: hidden;	
}


div.customSearchImageGalleryTitle {
    float: left; 
    height: 24px; 
    width: 100%;
}

.customSearchImageGalleryTitle a {
    float: left; 
    height: 24px; 
    width: 100%;
    
    margin-bottom: 2px;
    overflow: hidden;	
    
    color:#666666;
    font-size:9px;
    font-weight:bold;
}

.customSearchArticle img.articleImage {
    float: left;
    margin: 0 5px 5px 0;
    border: 1px solid #EEE;
}

.customSearchArticle .lead {
    line-height: 1.2em;
}

/* Font resizing and letter spacing in GUI */

.editorarea fieldset.text.heading  {
    font-size: 24px;
    font-weight: bold;
}

/* Labels inside the resizable text group, not counting the whole
   group's label are hidden, since we want to group the text and the
   tools into one logical field. */
.editorarea .text .p_resizable_text fieldset h2 {
    display:none;
}

.editorarea .p_resizable_text fieldset {
    float: left;
}

.editorarea .p_resizable_text fieldset.text {
    min-width: 601px;
}

.editorarea .p_resizable_text fieldset.tools {
    display: inline-block;
    width: 46px;
}

.editorarea .p_resizable_text .tools,
.editorarea .p_resizable_text fieldset {
    margin: 0px;
}

.editorarea .p_resizable_text fieldset.tools fieldset  {
    width: auto;
    padding-left: 2px;
    margin: 0px 0px 2px 0px;
}


.editorarea .p_resizable_text .p_font_size input[type="text"],
.editorarea .p_resizable_text .p_letter_spacing input[type="text"],
.editorarea .p_resizable_text .p_font_size span,
.editorarea .p_resizable_text .p_letter_spacing span {
    float:right;
    padding: 0px 0px 0px 18px;
    width: 24px;
    font-size: 11px;
    font-weight: normal;
}

.editorarea .p_resizable_text .p_font_size input[type="text"],
.editorarea .p_resizable_text .p_font_size span {
    background: url(images/textsize.png) 0px 1px no-repeat;
}

.editorarea .p_resizable_text .p_letter_spacing input[type="text"],
.editorarea .p_resizable_text .p_letter_spacing span {
    background: url(images/letterspacing.png) 0px 1px no-repeat;
}