/* SITE SPECIFIC STUFF */
.element,
.video,
.elementBorder {
	margin: 0 14px 14px 0;
	overflow: hidden;
	_height: 1%;
	padding: 7px 0;
}
.bannerColumn .video {
  margin-right: 0;
}
.elementBorder DIV {
	margin-right: 0;
}
.container {
	margin: 0 0 0 0;
}
.element.list {
	margin: 0;
	padding: 0;
}

/* LAYOUT */
.borderLayout {
	width: 1007px; /* Total width of site */
	padding: 14px 0 14px 14px;
}
.borderLayout #col2 {
	width: 1007px;
}
.borderLayout #col3 {
	width: 693px;
}
.borderLayout #col4 {
	width: 300px;	
}
.borderLayout #col2,
.borderLayout #col3,
.borderLayout #col4 {
	position: relative;
}
.borderLayout #col2 .element,
.borderLayout #col2 .elementBorder,
.borderLayout #col4 .element,
.borderLayout #col4 .elementBorder {
	margin-right: 0;
}
